

<table class="table table-striped-columns">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Sebastian</td>
            <td>Lopez</td>
            <td>seba.lopez@mail.cl</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Valentina</td>
            <td>Fernandez</td>
            <td>vale.fer@email.cl</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Carolina</td>
            <td>Vargas</td>
            <td>caro.vargas@email.cl</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Diego</td>
            <td>Herrera</td>
            <td>diego.herrer@email.cl</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Nicolas</td>
            <td>Castro</td>
            <td>nico.castro@email.cl</td>
        </tr>
        <h1>Tabla de usuarios</h1>
    </tbody>
</table>

